/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-third: 'Rouge Script', cursive;

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$grey-dark: #4a4a4a;
$grey: #757575;
$grey-light: #9b9b9b;
$light: #f1f1f1;
$cinnabar: #92e4e4;
$matterhorn: #535353;
$materh: #555;
$blue: #4fc1f0;
$grey-original: #ddd;


// Transitions
$dur: 550ms;
$ease: ease;

$dur-sec: 220ms;

// Breakpoints
$phone: 768;
$tablet: 1024;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1400;


