.contact {
    padding: 100px 0;
    position: relative;

    @include mq($tablet-l) {
        padding: 55px 0;
    }
}

.contact__bg-left {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;

    @include mq($tablet-l) {
        top: 10px;

        img {
            width: 140px;
        }
    }

    @include mq($phone) {
        img {
            display: none;
        }
    }
}

.contact__box {
    margin-top: 60px;
    box-shadow: 0 0 20px rgba($black, 0.12);
    background: $white url('assets/images/reserv-form-bg.jpg') no-repeat right bottom;
    padding: 100px;

    @include mq($tablet-l) {
        padding: 36px;
    }
}

.contact__box-form-title {
    font-size: 30px;
    color: $matterhorn;
    font-family: $font-third;
    margin-bottom: 70px;
    text-align: center;
    max-width: 433px;
    width: 100%;
}