/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-md {
    max-width: 943px;
}

.wrapper--sm {
    max-width: 550px;
}

